<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A class implementing mock</string>
	<key>Summary</key>
	<string>A class implementing mock</string>
	<key>SortOrder</key>
	<string>2</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Spec</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>BuildableType</key>
	<string>Test</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the mock class</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Mock for:</string>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Mock</string>
			<key>Description</key>
			<string>Mock</string>
			<key>Identifier</key>
			<string>spec</string>
			<key>Name</key>
			<string>Full name:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
