<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A class implementing a test helpers for tests</string>
	<key>Summary</key>
	<string>A class implementing a test helpers for tests</string>
	<key>SortOrder</key>
	<string>2</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Some</string>
			<key>Description</key>
			<string>Name of the test helper class</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Test helper class:</string>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___+TestHelper</string>
			<key>Description</key>
			<string>Test helper for tests</string>
			<key>Identifier</key>
			<string>testHelper</string>
			<key>Name</key>
			<string>Full name:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
